<footer>
    <div>
        <h3><%=footerName%> </h3>
        <p> *******Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magnam expedita nisi voluptatem, odio, consequuntur est delectus architecto dolores optio sunt laboriosam quia, aut non nemo repellendus ea voluptatibus neque!</p>
    </div>
</footer>