<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ontact me </title>
</head>
<body>
    this is shared content
    <form method="GET" action="/contact">
        <input placeholder="Firstname" type="text" name="fname" id="">
        <br>
        <input  placeholder="Lastname name"type="text" name="lname" id="">
        <br>
        <input placeholder="Email"type="email" name="email" id="">
        <br>
        <textarea  placeholder="about you "name="message" id="" cols="30" rows="10"></textarea>
        <br>
    <input type="submit" value ="send">
    </form>
</body>
</html>