<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="/somecss">
</head>
<body>
    <div>
        this is shared content
        <h2>you are at home</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing <a href="http://localhost:4550/about">ckick hier to go to aubout </a> . Neque, velit quod? Harum, consectetur consequatur quas dolorum modi molestiae alias delectus facilis incidunt assumenda iusto hic eaque iste sapiente repellat doloremque?</p>
       
</body>
</html>