<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="/somecss">
</head>
<body>
    <div>
        <h2>you are at about page </h2>
        <p>Lorem, ipsum dol <a href="http://localhost:4550/home">click hier to go home </a> or sit amet consectetur adipisicing elit. Neque, velit quod? Harum, consectetur consequatur quas dolorum modi molestiae alias delectus facilis incidunt assumenda iusto hic eaque iste sapiente repellat doloremque?</p>
    </div>
</body>
</html>