<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <title>admin</title>
    <%- include('partials/htmlHead') %>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <%- include('partials/head', {active: 'admin'}) %>

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Add Meal</h3>
    </div>
    <!-- bradcam_area_end -->

    <!-- best_burgers_area_start  -->
    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Burger Menu</span>
                        <h3>Best Ever Burgers</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            
    <!-- best_burgers_area_end  -->

    <div class="row">
        <div class="md12">
        <a href="/admin/addmeal"> Add Meal</a>
        <br>
        <a href="/admin/deletmeal"> Delet Meal</a>
        <br>
        <a href="/admin/editmeal"> Edet Meal</a>
        <br>
        <a href="/logout"> Log out</a>
        
        </div>
        
    </div>


    <%- include('partials/htmlJs') %>

</body>

</html>