<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <%-include('partial/htmlCss')%>
</head>

<body>
    <%-include('partial/htmlHeader')%>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / Add Book</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <div class="form">
                <form>
                    <div class="form-group">
                        <label for="bookTitleInp">Book Title</label>
                        <input type="text" class="form-control" id="bookTitleInp" placeholder="Book Title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Book Images</label>
                        <input type="file" class="form-control-file" multiple id="bookImgsInp"
                            accept="image/x-png,image/gif,image/jpeg">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Book PDF</label>
                        <input type="file" class="form-control-file" id="bookPdfInp" accept="application/pdf">
                    </div>
                    <div class="form-group">
                        <label for="bookDescriptionInp">Book Description</label>
                        <textarea class="form-control bookDescriptionInp" id="bookDescriptionInp"></textarea>
                    </div>
                    <button class="btn btn-success mt-3" id="bookSaveBtn">Save Book</button>
                </form>
            </div>
        </div>
        <!-- ===================modal area start ====================== -->
        <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="modalHeader" class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- ===================modal area start ====================== -->
    </section>

    <%-include('partial/htmlFooter')%>
    <%-include('partial/htmlJs')%>
    <script src="/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({

            selector: '#bookDescriptionInp',
            /* theme of the editor */
            theme: "silver",
            skin: "oxide-dark",

            /* width and height of the editor */
            width: "100%",
            height: 300,

            /* display statusbar */
            statubar: true,

            /* plugin */
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],

            /* toolbar */
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",

            /* style */
            style_formats: [{
                    title: "Headers",
                    items: [{
                            title: "Header 1",
                            format: "h1"
                        },
                        {
                            title: "Header 2",
                            format: "h2"
                        },
                        {
                            title: "Header 3",
                            format: "h3"
                        },
                        {
                            title: "Header 4",
                            format: "h4"
                        },
                        {
                            title: "Header 5",
                            format: "h5"
                        },
                        {
                            title: "Header 6",
                            format: "h6"
                        }
                    ]
                },
                {
                    title: "Inline",
                    items: [{
                            title: "Bold",
                            icon: "bold",
                            format: "bold"
                        },
                        {
                            title: "Italic",
                            icon: "italic",
                            format: "italic"
                        },
                        {
                            title: "Underline",
                            icon: "underline",
                            format: "underline"
                        },
                        {
                            title: "Strikethrough",
                            icon: "strikethrough",
                            format: "strikethrough"
                        },
                        {
                            title: "Superscript",
                            icon: "superscript",
                            format: "superscript"
                        },
                        {
                            title: "Subscript",
                            icon: "subscript",
                            format: "subscript"
                        },
                        {
                            title: "Code",
                            icon: "code",
                            format: "code"
                        }
                    ]
                },
                {
                    title: "Blocks",
                    items: [{
                            title: "Paragraph",
                            format: "p"
                        },
                        {
                            title: "Blockquote",
                            format: "blockquote"
                        },
                        {
                            title: "Div",
                            format: "div"
                        },
                        {
                            title: "Pre",
                            format: "pre"
                        }
                    ]
                },
                {
                    title: "Alignment",
                    items: [{
                            title: "Left",
                            icon: "alignleft",
                            format: "alignleft"
                        },
                        {
                            title: "Center",
                            icon: "aligncenter",
                            format: "aligncenter"
                        },
                        {
                            title: "Right",
                            icon: "alignright",
                            format: "alignright"
                        },
                        {
                            title: "Justify",
                            icon: "alignjustify",
                            format: "alignjustify"
                        }
                    ]
                }
            ]
        });
    </script>
    <script>
        const saveBookBtn = document.querySelector('#bookSaveBtn')
        saveBookBtn.addEventListener('click', e => {
            e.preventDefault()
            const bookTitle = document.querySelector('#bookTitleInp').value
            const bookImgs = document.querySelector('#bookImgsInp').files
            const bookPdf = document.querySelector('#bookPdfInp').files[0]
            const bookDescription = tinymce.get('bookDescriptionInp').getContent
            const fd = new FormData()
            fd.append('bookTitle', bookTitle)
            fd.append('bookDescription', bookDescription)
            for (let i = 0; i < bookImgs.length; i++) {
                fd.append('bookImgs' + i, bookImgs[i])
            }
            fd.append('bookPdf', bookPdf)
            fetch('/admin/addBook', {
                method: 'POST',
                body: fd
            }).then(response => {

                console.log(response.body);
                if (response.status == 200) {
                    response.json().then(data=>{
                        switch (data) {
                            case 1:
                            modalStyleChanger(false, 'success', 'The book saved correctly and it will be shown in books gallery')
        document.querySelector('#bookTitleInp').value = ''
        tinymce.get("bookDescriptionInp").setContent('')
        document.querySelector('#bookImgsInp').value = ''
        document.querySelector('#bookPdfInp').value = ''
                                break;
                                case 2:
                                modalStyleChanger(true, 'Error', 'Some entries are missing, make sure to enter all required data')
                                break;

                        
                            default:
                                break;
                        }
                    })
                }

            }).catch((error) => {
                console.log(error);

            })

        })

        function modalStyleChanger(error, title, content) {
            const modale = document.querySelector('#resultModal')
            const modalHeader = document.querySelector('#modalHeader')
            const modalBody = document.querySelector('.modal-body')
            if (error) {
                modalHeader.setAttribute('style',"backround-color :red;")
                modalHeader.removeAttribute('style',"backround-color :green;")
            }else{
                modalHeader.setAttribute('style',"backround-color :green;")
                modalHeader.removeAttribute('style',"backround-color :red;")
            }
            modalHeader.innerHTML=title;
            modalBody.innerHTML=   "<p>"+content+"</p>";

            $('#resultModal').modal('show')


        }
    </script>

</body>

</html>