<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <%-include('partial/htmlCss')%>
</head>

<body>
    <%-include('partial/htmlHeader')%>
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Register</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>My Account / REgister</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>
            <div class="form">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <input id="emailIn" type="email" placeholder="Enter Email" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-md-4">
                            <input id="passwordIn" type="password" placeholder="Password" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-md-4">
                            <input id="repasswordIn" type="password" placeholder="Repeat Password" required>
                            <span class="required-star">*</span>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <button id="registerIn" class="btn black">Register</button>
                            <h5>not Registered? <a href="login.html">Login here</a></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%-include('partial/htmlFooter')%>
    <%-include('partial/htmlJs')%>
    <script>
        const registerInbut = document.querySelector('#registerIn');
        registerInbut.addEventListener('click', (e) => {
            e.preventDefault();
           
            const email = document.querySelector('#emailIn').value;
            const password = document.querySelector('#passwordIn').value;
            const rePassword = document.querySelector('#repasswordIn').value
            const sendData = {
                email,
                password,
                rePassword
            }
            if (email&&password&&rePassword==password) {
               //fecht with promiss
               fetch('/register',{
                method:'POSt',
            headers:{
                'Conten-type':'applicatin/json'
            },body:JSON.stringify(sendData),
               }).then(respons=>{
                   if(respons.status==200){
                       respons.json().then(data=>{
                           console.log(data);
                           
                       })
                   }else{
                       alert(error)
                   }
               }).catch(error=>{
                   console.log(error);
                   
               })
                
            }
            //fecht function with async function 
            // async function postData(url , data) {
            //     const response = await fecht(url, {
            //         method: 'POST',
            //         mode: 'cors',
            //         cache: 'no-cache',
            //         credentials: 'same-origin',
            //         headers: {
            //             'Content-Type': 'application/json'
            //         },
            //         redirect: 'follow',
            //         referrerPolicy: 'no-referrer',
            //         body: JSON.stringify(data)
            //     })
            //     return response.json()
            // }
            // postData('/register', sendData).then(data => {
            //     console.log(data);

            // })
        })
    </script>
</body>

</html>